[lala]
server = irc.example.com
port = 6667
nick =
# Admin of the bot. Can issue commands from the "base"-plugin
admin =
# Plugins to load on startup
plugins=decide,quotes,last,fortune
# The nickserv password.
# nickserv_password = 
