# All entries which allow multiple values should be comma-separated, e.g.
# admins = admin1,admin2
[lala]
server = irc.example.com
port = 6667
nick =
# Admins of the bot. Can issue commands from the "base"-plugin
admins =
# Plugins to load on startup
plugins=decide,quotes,last,fortune
# The nickserv password.
# nickserv_password =
# Channels to automatically join
# channels =
